@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat,
        sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: nowrap row;
    background: rgb(53, 28, 49);
}

header {
    background: rgb(53, 28, 49);
    min-width: 55px;
    flex-grow: 1;
}

main {
    display: grid;
    grid-template: 1fr 2fr / 2fr 4fr;
    width: 100%;
}

.header {
    background: rgb(128, 31, 84);
    grid-area: 1 / 1 / 2 / 3;
    background-image: linear-gradient(rgba(235, 151, 200, 0.521),
        rgba(136, 25, 71, 0.904)),
        url(images/fr.jpg);
    background-position: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.header-icons {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.city-icone {
    display: grid;
    grid-template: 1fr 0.5fr 1fr 1fr / 1fr 1fr;
    grid-column-gap: 15px;
    width: 200px;
    margin: 20px 15px 0 15px;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.city-icone:hover {
    transform: scale(1.1);
}

.img {
    grid-area: 1 / 1 / -1 / 1;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    -webkit-clip-path: polygon(50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.krk {
    background-image: url(images/krakow.jpg);
}

.wawa {
    background-image: url(images/warsaw.jpg);
}

.wro {
    background-image: url(images/wrocaw.jpg);
}

.gda {
    background-image: url(images/gdansk.jpg);
}

.poz {
    background-image: url(images/poznan.jpg);
}

p:first-of-type {
    grid-area: 1 /2 / 1 / 2;
    color: whitesmoke;
    font-size: 1.2rem;
    margin-top: 8px;

}

p:nth-of-type(2) {
    grid-area: 2 /2 / 2 / 2;
    color: rgb(242, 255, 123);
    font-size: 0.9rem;
    padding-bottom: 0;
}

p:nth-of-type(3) {
    grid-area: 3 /2 / 3 / 2;
    color: whitesmoke;
    font-size: 2rem;
}


.right {
    background-image: linear-gradient(45deg, rgba(11, 11, 34, 0.959),
        rgba(66, 59, 126, 0.658)),
        url(images/background-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    grid-area: 2 / 2 / 3 / 3;
     font-family: Montserrat, sans-serif;
     color: White;
     padding:30px;
     position: relative;
     bottom: 0;
}

#right-header {
     position: absolute;
     width: 100%;
     height: 20%;
    
}

#graph {
     position: absolute;
     width: 100%;
     height: 39%; 
}

#paragraph1 {
     position: absolute;
     width:50%;
     height: 41%;
     padding:35px;
     bottom: 0;
     left: 0;
     font-size: 15px;
     color: hsl(0, 0%, 70%);
}


#paragraph2 {
     position: absolute;
     right: 0;
     width: 50%;
     height: 41%;
     bottom: 0;
     padding:35px;
     font-size: 15px;
     font-weight: lighter;
     color: hsl(0, 0%, 70%);
}


.left {
    grid-area: 2 / 1 / 3 / 2;
    background-image: linear-gradient(rgba(99, 10, 52, 0.897),
        rgba(17, 16, 16, 0.897)),
        url(images/paris.jpg);
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(50%);
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.left-forecast-wrapper {
    margin-top: 20px;
    height: calc(100% - 20px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-template-columns: 3fr 2fr;
}

.left-forecast-wrapper p {
    font-size: 1rem;
    margin: 0;
}

.left-forecast-weekday {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding-right: 10px;
    font-weight: 600;
}

.left-forecast-wrapper .left-forecast-weekday-text {
    color: hsl(340, 100%, 80%);
}

.left-forecast-info {
    display: grid;
    grid-template-columns: 30px 30px 1fr;
    align-items: center;
    padding-left: 10px;
}

.left-forecast-wrapper .left-forecast-info-text {
    color: hsl(0, 0%, 70%);
    grid-area: auto;
}

.left-forecast-bottom {
    grid-area: 5 / 1 / -1 / -1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.left-forecast-wrapper .left-forecast-bottom-text a {
    color: gold;
    text-decoration: none;
    font-size: 1.6rem;
}

.left-forecast-bottom-text i {
    display: block;
    transition: all 0.5s ease-in-out;
}

.left-forecast-wrapper .left-forecast-bottom-text a:hover i {
    transform: rotateX(180deg);
    font-size: 1.95rem;
}

/*Left bar*/
nav {
    height: 40%;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.icon {
    color: rgba(255, 255, 255, 0.719);
    position: relative;
    left: 40%;
    transition-duration: 0.25s;
}

.fa-home.icon,
.fa-cloud.icon {
    color: rgba(255, 255, 255, 0.719);
    position: relative;
    left: 36%;
}

.fa-bars.icon {
    color: rgba(233, 203, 37, 0.76);
}

.icon:hover {
    color: rgba(233, 203, 37, 0.76) !important;
    transform: scale(1.07);
    cursor: pointer;
}

/*Header - panel below icons*/
.header-inputs {
    text-align: center;

}

.region {
    color: rgba(255, 255, 255, 0.74);
}

select {
    background-color: rgba(128, 128, 128, 0.541);
    color: white;
    text-align: center;
    border: none;
    padding: 4px;
    margin: 5px;
    padding-right: 15px;
    -webkit-appearance: none;
}

select * {
    background-color: rgba(66, 25, 77, 0.466);
    color: rgba(255, 255, 255, 0.74);
    border: none;
}

.search {
    background-color: rgba(128, 128, 128, 0.541);
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    border: none;
    padding: 6px;
    padding-left: 80px;
    padding-right: 80px;
    transition: 0.4s;
}

.search:hover {
    background-color: rgba(128, 128, 128, 0.541);
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    border: none;
    padding: 6px;
    padding-left: 80px;
    padding-right: 80px;
    transform: scale(1.1);
    cursor: pointer;
}

.arrow {
    color: yellow;
    position: relative;
    right: 30px;
    top: 2px;
    z-index: -1;
}

/* left container */
.left-place-weather {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: rgba(245, 245, 245, 0.911);
    margin-bottom: 20px;
    font-size: 1.6rem;
}


.left-place-weather>p {
    color: rgba(238, 238, 238, 0.842);
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.left-place-weather>p:nth-of-type(3) {
    color: hsl(340, 100%, 80%);
    font-weight: bold;
    font-size: 1.1rem;
}

.left-place-weather>p:nth-of-type(2) {
    font-weight: lighter;
    font-size: 1.3rem;

}

.fa-sun {
    color: rgba(243, 243, 243, 0.966);
    font-size: 3rem;
    margin: 10px 0 5px;
}

@media (max-width: 750px) {
    body {
        display: flex;
        flex-flow: wrap column;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}